.app-container {
    min-height: 100vh;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-content {
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-label {
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
    display: block;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .chart-container {
    margin-top: 20px;
    width: 100%;
    height: 300px;
  }
// оформление формул
  .formulas {
    margin-top: 30px;
    background: #f1f5f9;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
  
    h2 {
      font-size: 22px;
      margin-bottom: 10px;
    }
  
    .mjx-math {
      margin-bottom: 10px;
      display: block;
    }
  }
  